#
# make.config for EFISPEC3D version 0.9 or 1.0
#
#             for Intel compiler only
#
# author: P. Thierry - July 2013
#
######################################################################

###### SIMD OPTION
simd ?= sse

ifeq ($(simd),sse)
VECTO	= -xSSE4.1 -align array16byte
else
ifeq ($(simd),avx)
VECTO	= -xAVX -align array32byte 
else
ifeq ($(simd),avx2)
VECTO	= -xCORE-AVX2 -fma -align array32byte
else
VECTO	= 
endif
endif
endif

##### VERSION OPTION
version ?= 1.0

ifeq ($(version),0.9)
VERSION=0.9
else
ifeq ($(version),1.0)
VERSION=1.0
else
.SILENT:
err:
   echo "Use make version=0.9 or 1.0  simd=sse or avx or avx2"
   echo "    make version=1.0 simd=sse  [default]"
endif
endif

### Executable name based on choosen version and SIMD options
EXE_NAME = efispec3d_${VERSION}${simd}.exe

# 
BDIR      = $${PWD%/*/*}/bin
BDIR2     = $${PWD%/*/*/*}/bin
BINDIR    = $(ROOTEFI)/bin
SDIR      = ${ROOTEFI}/src
EXEC      = ${BDIR}/${EXE_NAME}
EFI_SRC	  = $(SDIR)/efispec3d_${VERSION}

#Cubit Tools
EFI_TOOLS               = $(SDIR)/efispec3d_tools
EFI_TOOLS_CUBIT_TOPO    = $(EFI_TOOLS)/cubit_topography
EFI_TOOLS_CUBIT_REFINE  = $(EFI_TOOLS)/cubit_refine
EXEC_TOOLS_CUBIT_TOPO   = ${BDIR2}/cubit_topography.exe
EXEC_TOOLS_CUBIT_REFINE = ${BDIR2}/cubit_refine.exe
 
#mesh partitioning tool
EFI_MESH             = $(SDIR)/efispec3d_mesh_partitioning
EXEC_MESH            = ${BDIR}/mesh_partitioning.exe


# Include + Libs

INCL       = -I$${PWD%/*/*}/include
SLIBMETIS  =   $${PWD%/*/*}/lib/libmetis.a
SLIBSAC    =   $${PWD%/*/*}/lib/libsac.a
SLIBSACIO  =   $${PWD%/*/*}/lib/libsacio.a

#FORTRAN and C Compiler
FC         = mpiifort
CC         = mpiicc 
RM         = rm -f

OPTIM	   = 
FPMOD 	   = -fp-model fast=2 -ftz  -no-prec-div -no-prec-sqrt
#ODEB      = -vec-report2 -traceback
ODEB       = -traceback
MISC	   = -free -zero

FOPT       = -fpp -g
COPT 	   = -std=c99 -g 


# Options compilation
FFLAGS     = $(FOPT)  $(ODEB) $(OPTIM) $(VECTO) $(FPMOD) ${MISC} $(INCL)
CFLAGS     = $(COPT) ${OPTIM} ${ODEB} $(INCL)

# Librairies Fortran
LIBS       = $(SLIBMETIS) -limf -lifcore -lrt

# Options editions des liens ! need to define the last lib properly
LDFLAGS    = $(FFLAGS) 


# rules
.SUFFIXES : .o .f .f90 .c .a
.f90.a    :
	  $(FC) -c $(FFLAGS) $<
	  $(AR) $(ARFLAGS) $@ $*.o
	  rm -f $*.o
.c.a    :
	$(CC) -c $(CFLAGS) $<
	$(AR) $(ARFLAGS) $@ $*.o
	rm -f $*.o
.f90.o  :
	$(FC) -c $(FFLAGS) $<
.c.o    :
	$(CC) -c $(CFLAGS) $<


